* {
  all: unset;
  font-family: "IAAB3\-Mono Stencil";
}
// WINDOW RELATED CSS
// .bg {
//   background-color: #1E222A;
//   border: 2px solid #80A0C0;
// }

.notes {
  padding: 10px 20px 10px 5px;
}

window {
  background: rgba(0, 0, 0, 0);
  color: #e0def4;
  //border-radius: 2rem;
}

// WIDGET MISC SETTINGS

.quote-text {
  font-size: 1.5rem;
  color: #eb6f92;
}

.appbar{
  font-size: 2rem;
}

.favs {
  color: #ECEFF4;
  font-size: 2rem;
}

.small-date {
  font-weight: 700;
}
