* {
  all: unset;
  font-family: "IAAB3\-Mono Stencil";
}

window {
  background: rgba(0, 0, 0, 0);
  color: #6e6a86;
}

.cava-bars {
  font-size: 1.8rem;
}

.quote {
  font-size: 1.25rem;
}


.date {
  font-weight: 700;
}

.clock .labelSml {
  font-size: 0.8rem;
}
.clock .labelMed {
  font-size: 1.0rem;
}
.clock .labelLrg {
  font-size: 1.4rem;
}

.clock .hand {
  background-color: #6e6a86;
}
