// General
*{
  all: unset;
  font-family: "IAAB3\-Mono Stencil";
}
window {
  background: rgba(0, 0, 0, 0);
  color: #e0def4;
}
// Music
.cava-bars {
  font-size: 1.6rem;
}
// Quote
.quote {
  font-size: 1.25rem;
}
// Date
.date {
  font-weight: 700;
}
// Cock
.clock .labelSml {
  font-size: 0.8rem;
}
.clock .labelMed {
  font-size: 1.0rem;
}
.clock .labelLrg {
  font-size: 1.4rem;
}
.clock .labelLrg.label6 {
  font-size: 2.1rem;
}

// Test
.hour_hand {
	color: #31748f;
}
.minute_hand {
	color: #c4a7e7;
}
.second_hand {
  color: #eb6f92;
}
